<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>无标题文档</title>
    <link href="<{$smarty.const.URL_CMS_ADMIN_CSS_PATH}>/style.css" rel="stylesheet" type="text/css" />
    <script language="JavaScript" src="<{$smarty.const.URL_CMS_ADMIN_JS_PATH}>/jquery.js"></script>

    <script type="text/javascript">
        $(function(){
            //导航切换
            $(".menuson li").click(function(){
                $(".menuson li.active").removeClass("active")
                $(this).addClass("active");
            });
            $('.title').click(function(){
                var $ul = $(this).next('ul');
                $('dd').find('ul').slideUp();
                if($ul.is(':visible')){
                    $(this).next('ul').slideUp();
                }else{
                    $(this).next('ul').slideDown();
                }
            });
        })
    </script>
</head>

<body style="background:#f0f9fd;">
<div class="lefttop"><span></span><{$title}></div>

<dl class="leftmenu">
    <{$mainhref = null}>
    <{foreach $submodules as $submodule }>
    <dd>
        <div class="title">
            <span><img src="<{$submodule.src}>" /></span><{$submodule.name}>
        </div>
        <ul class="menuson">
            <{foreach $submodule['items'] as $name=>$href }>
                <{if $mainhref === null}>
                    <li class="active"><cite></cite><a href="<{$href}>" target="rightFrame"><{$name}></a></li>
                <{$mainhref = $href}>
                <{else}>
                    <li><cite></cite><a href="<{$href}>" target="rightFrame"><{$name}></a></li>
                <{/if}>

            <{/foreach}>
        </ul>
    </dd>
    <{/foreach}>

    <{* main区域的href变为激活的href *}>
    <script>
        var rightFrame = parent.document.getElementById('rightFrame');
        rightFrame.src = "<{$mainhref}>";
//        console.log(rightFrame);
    </script>
</dl>
</body>
</html>
