<!DOCTYPE html>
<html>
<head lang="en">
    <{block name="head"}>
        <meta charset="UTF-8">
        <title>用户中心</title>
        <link rel="stylesheet" type="text/css" href="<{$smarty.const.URL_EASYUI_PATH}>/themes/metro/easyui.css">
        <link rel="stylesheet" type="text/css" href="<{$smarty.const.URL_EASYUI_PATH}>/themes/icon.css">
        <link rel="stylesheet" type="text/css" href="<{$smarty.const.URL_EASYUI_PATH}>/themes/color.css">
        <script type="text/javascript" src="<{$smarty.const.URL_PUBLIC_PATH}>js/jquery-1.7.2.min.js"></script>
        <script type="text/javascript" src="<{$smarty.const.URL_EASYUI_PATH}>/jquery.easyui.min.js"></script>
    <{/block}>
</head>
<body>
<{block name="body"}><{/block}>
</body>
</html>