<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户中心</title>
    <link rel="stylesheet" href="<{URL_UIKIT_CSS_PATH}>/uikit.min.css" />
    <script src="<{URL_PUBLIC_PATH}>js/jquery-1.11.3.min.js"></script>
    <script src="<{URL_UIKIT_JS_PATH}>/uikit.min.js" ></script>

    <!-- 特别组建需要引入专门的 js和css -->
    <link rel="stylesheet" href="<{URL_UIKIT_CSS_PATH}>/components/accordion.min.css" />
    <script src="<{URL_UIKIT_JS_PATH}>/components/accordion.js" ></script>
</head>
<body>
<div class="uk-accordion" data-uk-accordion>

    <h3 class="uk-accordion-title">Heading 1</h3>
    <div class="uk-accordion-content">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
    </div>

    <h3 class="uk-accordion-title">Heading 2</h3>
    <div class="uk-accordion-content">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
    </div>

    <h3 class="uk-accordion-title">Heading 3</h3>
    <div class="uk-accordion-content">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
    </div>

</div>

</body>
</html>